APP_NAME=Lumen
APP_ENV=local
APP_KEY=base64:qQUHuSwMJgBY/L17vThhJdU9RQwiuHwNbsf2Mq9GkfE=
APP_DEBUG=true
APP_URL=http://localhost
APP_TIMEZONE=UTC

LOG_CHANNEL=stack
LOG_SLACK_WEBHOOK_URL=

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=4jawaly
DB_USERNAME=root
DB_PASSWORD=root

MAIL_DRIVER=mailgun
MAILGUN_DOMAIN=sandboxb057723acc054fdc94aff50e4adeb5ae.mailgun.org
MAILGUN_SECRET=acd54c307a256d1f6200df071310b66d-1053eade-7f93c946
MAILGUN_ENDPOINT=api.mailgun.net
MAIL_FROM_ADDRESS=no-reply@php-eg.com
MAIL_FROM_NAME=eslam

MONGO_DB_HOST=mongo
MONGO_DB_PORT=27017
MONGO_DB_DATABASE=4jawaly
MONGO_DB_USERNAME=root
MONGO_DB_PASSWORD=root


CACHE_DRIVER=redis
QUEUE_CONNECTION=sync

JWT_SECRET=LPBR6fkMY4UIJiNzUmiIPeYFckXlZUPNEwRUrQ6zPRnsK4L2pWKZUZF7hC5tOgoQ

REDIS_HOST=redis
REDIS_PASSWORD=
REDIS_PORT=6379
